#calculator {
	border: 1px solid black; 
	border-radius: 7px;
	background-color: rgb(167, 237, 226);
	padding: 15px;
	width: 446px;
	margin: 150px auto;
}
#result_field {
	padding-bottom: 10px;
	width: 414px;
}
#result_field > input {
	width: 100%;
	text-align: right;
	font-size: 50px;
	border: 1px solid black;
	border-radius: 5px;
}
.buttons_container {
	padding-top: 2px;
	padding-bottom: 2px;
}
.buttons_container > input {
	width: 100px;
	height: 100px;
	font-size: 50px;
}
#box {
	margin: auto;
	width: 480px;
}

@media screen and (max-width: 480px) {
	#calculator {
		width: 346px;
	}

	#result_field {
		width: 314px;
	}

	#result_field > input {
		font-size: 37px;
	}

	.buttons_container > input {
		width: 75px;
		height: 75px;
		font-size: 37px;
	}

	#box {
		width: 380px;
	}
}

@media screen and (max-width: 380px) {
	#calculator {
		width: 246px;
	}

	#result_field {
		width: 214px;
	}

	#result_field > input {
		font-size: 25px;
	}

	.buttons_container > input {
		width: 50px;
		height: 50px;
		font-size: 25px;
	}

	#box {
		width: 280px;
	}
}